<h1>Notes tagged with <%= @tag %></h1>

<% @notes.each do |note| %>
  <h2><%= link_to note.title, note_path(note) %></h2>
  <p><%= note.description %></p>
  <small><em>Tags:</em> <%= note.tags.join(", ") %></small>
<% end %>
