$dark_yellow: #f9dc5b
$light_yellow: #f7f5ab
$dark_grey: #5b5b5b
$light_grey: #999999

$created_at: #999b92

$even_color: #fcf9a6
$odd_color: #eeea4e

$bigplus_normal: #e98619
$bigplus_hover: #e94c19

$link_normal: #1572c0
$link_hover: #151ec0

$amount_green: #47c816 
$amount_red: #d91831
$amount_color: $amount_red

$input_hover: #000
$input_focus: #151fc0

input
  font-size: 1em
  
div#finance
  clear: both
  display: block
  min-height: 2em
  width: 100%
  #add_finance
    width: 100%
    .finance_amount
      padding-left: 1em
    .finance_date
    .finance_comment
      padding-left: 1em
      width: 60%
      input
        width: 100%
    input#submit_finance
      float: right
      width: 10%


.table-files, .table-finance
  border: 1px solid $light_grey
  -webkit-border-radius: 5px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  padding: 2px 5px 2px 5px
  td
    white-space: nowrap
    padding-left: 1em
    padding-top: 5px 
    padding-bottom: 5px 
    border-bottom: 1px solid $light_grey
  .even
    background-color: $even_color
  .odd
  .even:hover, .odd:hover
    background-color: $odd_color

div#upload_file_div
  display: block
  width: 100%
  margin: 0
  .upload-filename
    display: inline
    width: 80%
  input#note_attachments_
    margin: 0
    padding: 0
  div.label.attachment
    display: inline
    clear: left
    width: 80%
  input#note_attachment_comment
    width: 98%
  input#submit_attachment
    float: right
    width: 10%

div#top-bar
  display: block
  min-height: 10px
  font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif
  font-size: 11px
  #nbar
    float: left
  #nuser
    float: right
    white-space: nowrap
    a
      text-decoration: none
      padding: 2px 0 2px
      padding-left: 5px
      padding-right: 5px
      -moz-border-radius: 3px
      border-radius: 3px
      background-color: $dark_yellow
    a:hover
      text-decoration: underline

.content_line
  margin: 0
  padding: 0
  min-height: 64px

  .title, .amount
    font-size: 1.5em
    float:left
    display: inline

  p
    color: #0e0e0e
    margin: 0
    padding: 0

  .created_at
    color: $created_at
    font-size: 12px

.content_line:hover
  cursor: pointer

  .amount
    text-shadow: 1px 1px 2px #000

.empty_line
  border-bottom: 2px dashed $dark_grey
  margin: 1em 0
  
#container
  display: block
  margin: 0 auto
  width: 800px
  min-height: 300px
  padding: 1em 1.5em
  background-color: $light_yellow
  background-image: url(/images/note.png)
  background-repeat: no-repeat
  background-position: top right  

  h1#note-content
    color: $dark_grey

  div.amount
    color: $amount_color
    display: inline
    padding-left: 2em
    font-size: 1.5em
    font-family: Georgia, 'Times New Roman', Times, serif
  a
    color: $link_normal
    text-decoration: none
  a:hover
    color: $link_hover

ul
  padding: 0
  li
    list-style-type: none
    margin: 0

.upper-nav
  position: relative
  top: -2.5em
  left: -1.5em 
  clear: right
  ul#menu
    margin: 0
    li
      margin: 0
      display: inline
      background-color: $dark_yellow
      -webkit-border-top-right-radius: 10px
      -webkit-border-top-left-radius: 10px
      -moz-border-radius-topright: 10px
      -moz-border-radius-topleft: 10px
      border-upper-right-radius: 10px
      border-upper-left-radius: 10px
      font-size: 1.5em
      padding: 0 1em
      a
        color: $link_normal
    li:hover
      background-color: $dark_yellow
      cursor: pointer
.upper-nfo
  .bigplus
    color: $dark_yellow
    display: inline
    position: relative
    float: right
    cursor: pointer
    top: -30px
    right: 20px 
    font-weight: bold
    font-size: 64px

  .bigplus:hover
    text-shadow: 2px 2px 3px #000

  .big-finance
    float: left
    text-align: right
    width: 720px
    .text
      vertical-align: top
      font-size: 24px
      display: inline
      color: $dark_grey
    .total
      font-size: 64px
      display: inline
      color: $amount_red

h1
  margin-right: 3em
  line-height: 1em

h2
  margin: 0

.nowrap
  white-space: nowrap

.add_bar
  display: none

label.over
  color: $light_grey
  position: absolute
  top: 5px
  left: 10px
  text-transform: lowercase
div.label
  position: relative
  float: left

form.note
  label.over
    color: $light_grey
    position: absolute
    top: 20px
    left: 20px
    text-transform: uppercase
  div.label
    position: relative
    float: left
  #note_button_bar_container
    clear: both
    min-height: 48px
    height: auto !important
    height: 48px
  #note_button_bar
    text-align: right
    width: 800px
    height: 32px
  #note_reset_button
    background-color: $dark_grey
  input, textarea
    padding: 0
    width: 800px
    outline: none
    border: 0
    border-bottom: 2px dashed $dark_grey
    background-color: transparent
    font-family: Georgia, 'Times New Roman', Times, serif
    color: $dark_grey
    font-size: 2em
  input:hover, textarea:hover
    color: $input_hover
  input:focus, textarea:focus
    color: $input_focus
    background-position: top right
    background-repeat: no-repeat
    background-image: url(/images//bullet1.gif)
  input#note_title
    margin-bottom: 0.5em
  textarea
    font-size: 1em
    height: 1em
  input#note_submit, input#submit_attachment, input.button
    border: 3px solid #941022
    color: #fff
    width: 128px
    display: inline
    font-size: 1em
    background-color: #941022
  input#note_submit:hover, .button:hover
    border: 3px solid #941022
    background-color: red
    cursor: pointer
    
.calendar 
  background-color: #DDD
  font-family: verdana, helvetica, sans-serif
  font-size: 80%
  color: black
  cursor: pointer
  width: 200px
  border-collapse: collapse
  border: 1px solid #DDD

  th
    padding: 2px

  a
    color: #000
    text-decoration: none

  td
    padding: 2px
    background-color: #FFF
    border: 1px solid #DDD
    text-align: center
  
  td.selected
    background-color: #AAA

  td.selected a
    color: #fff

  td.weekend
    background-color: #EEE

  td.today
    background-color: yellow

    a
      color: black

  td.day a:hover
    color: white

body
  margin-top: 4px
  top: 0
  right: 0

.bottom-nav
