.content_line {
  margin: 0;
  padding: 0;
  min-height: 64px; }
  .content_line .title, .content_line .amount {
    font-size: 1.5em;
    display: inline; }
  .content_line p {
    color: #0e0e0e;
    margin: 0;
    padding: 0; }
  .content_line .created_at {
    color: #999b92;
    font-size: 12px; }

.content_line:hover {
  cursor: pointer; }
  .content_line:hover .amount {
    text-shadow: 1px 1px 2px black; }

.empty_line {
  border-bottom: 2px dashed #5b5b5b;
  margin: 1em 0; }

.container {
  margin: 0 auto;
  width: 800px;
  padding: 1em 1.5em;
  background-color: #f7f5ab;
  background-image: url(/images/note.png);
  background-repeat: no-repeat;
  background-position: top right; }
  .container div.amount {
    color: #d91831;
    display: inline;
    padding-left: 2em;
    font-size: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif; }
  .container a {
    color: #1572c0;
    text-decoration: none; }
  .container a:hover {
    color: #151ec0; }

.bigplus {
  color: #f9dc5b;
  cursor: pointer;
  float: right;
  display: block;
  text-align: right;
  font-weight: bold;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 64px; }

.bigplus:hover {
  text-shadow: 2px 2px 3px black; }

ul#menu {
  border-top: 1px solid white;
  margin-top: 4em;
  text-align: right; }
  ul#menu li {
    display: inline;
    border-right: 1px solid white;
    padding: 0 0.5em; }

h1 {
  margin-right: 3em;
  line-height: 1em; }

h2 {
  margin: 0; }

form input, form textarea {
  outline: none;
  background-color: transparent;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #5b5b5b;
  font-size: 2em; }
form input {
  width: 700px;
  border: 0;
  border-bottom: 2px dashed #999999; }
form input:hover, form textarea:hover {
  color: black; }
form input:focus, form textarea:focus {
  color: #151fc0;
  background-position: top right;
  background-repeat: no-repeat;
  background-image: url(/images//bullet1.gif); }
form input#note_title {
  margin-bottom: 0.5em; }
form label {
  display: block;
  margin-top: 1em; }
form textarea {
  font-size: 1em;
  height: 1em;
  width: 750px; }
form input#note_attachments_ {
  border: none;
  font-size: 1em; }
form input#note_submit, form input#submit_attachment {
  border: 3px solid #941022;
  color: white;
  width: 128px;
  display: block;
  font-size: 1em;
  background-color: #941022; }
form input#note_submit:hover {
  border: 3px solid #941022;
  background-color: red; }

.calendar {
  background-color: #dddddd;
  font-family: verdana, helvetica, sans-serif;
  font-size: 80%;
  color: black;
  cursor: pointer;
  width: 200px;
  border-collapse: collapse;
  border: 1px solid #dddddd; }
  .calendar th {
    padding: 2px; }
  .calendar a {
    color: black;
    text-decoration: none; }
  .calendar td {
    padding: 2px;
    background-color: white;
    border: 1px solid #dddddd;
    text-align: center; }
  .calendar td.selected {
    background-color: #aaaaaa; }
  .calendar td.selected a {
    color: white; }
  .calendar td.weekend {
    background-color: #eeeeee; }
  .calendar td.today {
    background-color: yellow; }
    .calendar td.today a {
      color: black; }
  .calendar td.day a:hover {
    color: white; }
