input {
  font-size: 1em; }

input#note_attachments_ {
  font-size: 1em;
  width: 370px; }

div#finance {
  clear: both;
  display: block;
  min-height: 2em; }

div#add_finance, div#upload_file_div {
  display: block;
  margin: 0; }

div#add_finance input#submit_attachment, div#add_finance input#note_submit, div#upload_file_div input#submit_attachment, div#upload_file_div input#note_submit {
  position: relative;
  float: right;
  width: 100px; }
div#add_finance div, div#upload_file_div div {
  float: left; }
div#add_finance input#note_attachment_comment, div#upload_file_div input#note_attachment_comment {
  width: 100%; }
div#add_finance div.label.attachment, div#upload_file_div div.label.attachment {
  width: 300px; }

div#top-bar {
  display: block;
  min-height: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 11px; }
  div#top-bar #nbar {
    float: left; }
  div#top-bar #nuser {
    float: right;
    white-space: nowrap; }
    div#top-bar #nuser a {
      text-decoration: none;
      padding: 2px 0 2px;
      padding-left: 5px;
      padding-right: 5px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #f9dc5b; }
    div#top-bar #nuser a:hover {
      text-decoration: underline; }

.content_line {
  margin: 0;
  padding: 0;
  min-height: 64px; }
  .content_line .title, .content_line .amount {
    font-size: 1.5em;
    display: inline; }
  .content_line p {
    color: #0e0e0e;
    margin: 0;
    padding: 0; }
  .content_line .created_at {
    color: #999b92;
    font-size: 12px; }

.content_line:hover {
  cursor: pointer; }
  .content_line:hover .amount {
    text-shadow: 1px 1px 2px black; }

.empty_line {
  border-bottom: 2px dashed #5b5b5b;
  margin: 1em 0; }

#container {
  margin: 0 auto;
  width: 800px;
  min-height: 300px;
  padding: 1em 1.5em;
  background-color: #f7f5ab;
  background-image: url(/images/note.png);
  background-repeat: no-repeat;
  background-position: top right;
  border: none; }
  #container h1#note-content {
    color: #5b5b5b; }
  #container .bigplus {
    color: #f9dc5b;
    position: relative;
    float: right;
    cursor: pointer;
    top: 0;
    right: 20px;
    font-weight: bold;
    font-size: 64px; }
  #container .bigplus:hover {
    text-shadow: 2px 2px 3px black; }
  #container div.amount {
    color: #d91831;
    display: inline;
    padding-left: 2em;
    font-size: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif; }
  #container a {
    color: #1572c0;
    text-decoration: none; }
  #container a:hover {
    color: #151ec0; }

ul {
  padding: 0; }
  ul li {
    list-style-type: none;
    margin: 0; }

ul#menu {
  border-top: 2px solid #999999;
  margin-top: 4em;
  text-align: right; }
  ul#menu li {
    margin: 0;
    display: inline;
    border: 2px solid #999999;
    background-color: #999999;
    padding: 0 0.5em;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.5em; }
    ul#menu li a {
      color: black; }
  ul#menu li:hover {
    background-color: #f9dc5b; }

h1 {
  margin-right: 3em;
  line-height: 1em; }

h2 {
  margin: 0; }

.nowrap {
  white-space: nowrap; }

.add_bar {
  display: none; }

label.over {
  color: #999999;
  position: absolute;
  top: 5px;
  left: 10px;
  text-transform: lowercase; }

div.label {
  position: relative;
  float: left; }

form.note {
  margin-bottom: 5em; }
  form.note label.over {
    color: #999999;
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase; }
  form.note div.label {
    position: relative;
    float: left; }
  form.note #note_button_bar {
    text-align: right;
    width: 800px;
    height: 32px; }
  form.note #note_reset_button {
    background-color: #5b5b5b; }
  form.note input, form.note textarea {
    padding: 0;
    width: 800px;
    outline: none;
    border: 0;
    border-bottom: 2px dashed #5b5b5b;
    background-color: transparent;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #5b5b5b;
    font-size: 2em; }
  form.note input:hover, form.note textarea:hover {
    color: black; }
  form.note input:focus, form.note textarea:focus {
    color: #151fc0;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url(/images//bullet1.gif); }
  form.note input#note_title {
    margin-bottom: 0.5em; }
  form.note textarea {
    font-size: 1em;
    height: 1em; }
  form.note input#note_submit, form.note input#submit_attachment, form.note input.button {
    border: 3px solid #941022;
    color: white;
    width: 128px;
    display: inline;
    font-size: 1em;
    background-color: #941022; }
  form.note input#note_submit:hover, form.note .button:hover {
    border: 3px solid #941022;
    background-color: red;
    cursor: pointer; }

.calendar {
  background-color: #dddddd;
  font-family: verdana, helvetica, sans-serif;
  font-size: 80%;
  color: black;
  cursor: pointer;
  width: 200px;
  border-collapse: collapse;
  border: 1px solid #dddddd; }
  .calendar th {
    padding: 2px; }
  .calendar a {
    color: black;
    text-decoration: none; }
  .calendar td {
    padding: 2px;
    background-color: white;
    border: 1px solid #dddddd;
    text-align: center; }
  .calendar td.selected {
    background-color: #aaaaaa; }
  .calendar td.selected a {
    color: white; }
  .calendar td.weekend {
    background-color: #eeeeee; }
  .calendar td.today {
    background-color: yellow; }
    .calendar td.today a {
      color: black; }
  .calendar td.day a:hover {
    color: white; }

body {
  margin-top: 4px;
  top: 0;
  right: 0; }
